<p id="notice"><%= notice %></p>

<h1>Listing Courses</h1>

<table>
  <thead>
    <tr>
      <th>Coursecode</th>
      <th>Coursename</th>
      <th>Gsc</th>
      <th>Credits</th>
      <th>Tag</th>
      <th>Crn</th>
      <th>Avail seats</th>
      <th>Max seats</th>
      <th>Time</th>
	  <th>Day</th>
	  <th>Instructor</th>
      <th>Location</th>
      <th>Notes</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @courses.each do |course| %>
      <tr>
        <td><%= course.coursecode %></td>
        <td><%= course.coursename %></td>
        <td><%= course.gsc %></td>
        <td><%= course.credits %></td>
        <td><%= course.tag %></td>
        <td><%= course.crn %></td>
        <td><%= course.avail_seats %></td>
        <td><%= course.max_seats %></td>
        <td><%= course.time %></td>
		<td><%= course.day %></td>
		<td><%= course.instructor %></td>
        <td><%= course.location %></td>
        <td><%= course.notes %></td>
        <td><%= link_to 'Show', course %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
