<p id="notice"><%= notice %></p>

<p>
  <strong>Coursecode:</strong>
  <%= @course.coursecode %>
</p>

<p>
  <strong>Coursename:</strong>
  <%= @course.coursename %>
</p>

<p>
  <strong>Gsc:</strong>
  <%= @course.gsc %>
</p>

<p>
  <strong>Instructor:</strong>
  <%= @course.instructor %>
</p>

<p>
  <strong>Credits:</strong>
  <%= @course.credits %>
</p>

<p>
  <strong>Tag:</strong>
  <%= @course.tag %>
</p>

<p>
  <strong>Crn:</strong>
  <%= @course.crn %>
</p>

<p>
  <strong>Avail seats:</strong>
  <%= @course.avail_seats %>
</p>

<p>
  <strong>Max seats:</strong>
  <%= @course.max_seats %>
</p>

<p>
  <strong>Time:</strong>
  <%= @course.time %>
</p>

<p>
  <strong>Day:</strong>
  <%= @course.day %>
</p>

<p>
  <strong>Location:</strong>
  <%= @course.location %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @course.notes %>
</p>

<%= link_to 'Back', courses_path %>
